In [1]:
import pandas as pd

In [20]:
Coffee =  pd.read_csv("/Users/ASUS/Desktop/BI_Final/Data/salesAll.csv")

In [21]:
Coffee

,Custom Time,customer_id,Dim_customer.Year,Dim_product.product_category,gener,product_id,promo_item_yn,quantity_sold,Sales,staff_id,store_id,Thế Hệ,transaction_date,transaction_time,unit_price,Year Of Sale
0,1899-12-30 11:00:00,8600,1983,Bakery,Older Millennials,72,Y,1,3.25,6,8,1983,2020-01-15 00:00:00,1899-12-30 11:17:45,3.25,2020
1,1899-12-30 11:00:00,8600,1983,Coffee,Older Millennials,87,Y,1,2.10,6,8,1983,2020-01-15 00:00:00,1899-12-30 11:17:45,2.10,2020
2,1899-12-30 17:00:00,8600,1983,Bakery,Older Millennials,72,Y,1,3.25,43,8,1983,2020-01-15 00:00:00,1899-12-30 17:14:59,3.25,2020
3,1899-12-30 17:00:00,8600,1983,Coffee,Older Millennials,87,Y,1,2.10,43,8,1983,2020-01-15 00:00:00,1899-12-30 17:14:59,2.10,2020
4,1899-12-30 19:00:00,8059,1964,Bakery,Baby Boomers,72,Y,1,3.25,45,8,1964,2020-01-15 00:00:00,1899-12-30 19:17:28,3.25,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1899-12-30 18:00:00,6000,1983,Bakery,Older Millennials,75,N,1,3.50,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:31:00,3.50,2021
29996,1899-12-30 18:00:00,6000,1983,Bakery,Older Millennials,77,N,1,3.00,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:52:00,3.00,2021
29997,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,23,N,2,5.00,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:52:00,2.50,2021
29998,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,24,N,1,3.00,29,5,1983,2021-01-27 00:00:00,1899-12-30 17:35:00,3.00,2021
29999,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,25,N,1,2.20,7,5,1983,2021-01-27 00:00:00,1899-12-30 17:54:00,2.20,2021

In [22]:
Coffee['customer_id'] = Coffee['customer_id'].astype('string')

In [25]:
Coffee['customer_transaction_id'] = Coffee['customer_id'] + '-' + Coffee['transaction_date']
Coffee

,Custom Time,customer_id,Dim_customer.Year,Dim_product.product_category,gener,product_id,promo_item_yn,quantity_sold,Sales,staff_id,store_id,Thế Hệ,transaction_date,transaction_time,unit_price,Year Of Sale,customer_transaction_id
0,1899-12-30 11:00:00,8600,1983,Bakery,Older Millennials,72,Y,1,3.25,6,8,1983,2020-01-15 00:00:00,1899-12-30 11:17:45,3.25,2020,8600-2020-01-15 00:00:00
1,1899-12-30 11:00:00,8600,1983,Coffee,Older Millennials,87,Y,1,2.10,6,8,1983,2020-01-15 00:00:00,1899-12-30 11:17:45,2.10,2020,8600-2020-01-15 00:00:00
2,1899-12-30 17:00:00,8600,1983,Bakery,Older Millennials,72,Y,1,3.25,43,8,1983,2020-01-15 00:00:00,1899-12-30 17:14:59,3.25,2020,8600-2020-01-15 00:00:00
3,1899-12-30 17:00:00,8600,1983,Coffee,Older Millennials,87,Y,1,2.10,43,8,1983,2020-01-15 00:00:00,1899-12-30 17:14:59,2.10,2020,8600-2020-01-15 00:00:00
4,1899-12-30 19:00:00,8059,1964,Bakery,Baby Boomers,72,Y,1,3.25,45,8,1964,2020-01-15 00:00:00,1899-12-30 19:17:28,3.25,2020,8059-2020-01-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1899-12-30 18:00:00,6000,1983,Bakery,Older Millennials,75,N,1,3.50,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:31:00,3.50,2021,6000-2021-01-27 00:00:00
29996,1899-12-30 18:00:00,6000,1983,Bakery,Older Millennials,77,N,1,3.00,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:52:00,3.00,2021,6000-2021-01-27 00:00:00
29997,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,23,N,2,5.00,27,5,1983,2021-01-27 00:00:00,1899-12-30 17:52:00,2.50,2021,6000-2021-01-27 00:00:00
29998,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,24,N,1,3.00,29,5,1983,2021-01-27 00:00:00,1899-12-30 17:35:00,3.00,2021,6000-2021-01-27 00:00:00
29999,1899-12-30 18:00:00,6000,1983,Coffee,Older Millennials,25,N,1,2.20,7,5,1983,2021-01-27 00:00:00,1899-12-30 17:54:00,2.20,2021,6000-2021-01-27 00:00:00

In [26]:
Coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Custom Time                   30000 non-null  object
 1   customer_id                   30000 non-null  string
 2   Dim_customer.Year             30000 non-null  int64
 3   Dim_product.product_category  30000 non-null  object
 4   gener                         30000 non-null  object
 5   product_id                    30000 non-null  int64
 6   promo_item_yn                 30000 non-null  object
 7   quantity_sold                 30000 non-null  int64
 8   Sales                         30000 non-null  float64
 9   staff_id                      30000 non-null  int64
 10  store_id                      30000 non-null  int64
 11  Thế Hệ                        30000 non-null  int64
 12  transaction_date              30000 non-null  object
 13  transaction_time              30000 non-null  object
 14  unit_price                    30000 non-null  float64
 15  Year Of Sale                  30000 non-null  int64
 16  customer_transaction_id       30000 non-null  string
dtypes: float64(2), int64(7), object(6), string(2)
memory usage: 3.9+ MB